# Registrant Verificationメールについて

ドメインの登録情報を確認するため、Registrant Verificationメールが送信される場合があります。これは、ドメイン登録者のEメールアドレスが実在するものであると証明する為の手続きで、全てのgTLD（新gTLDを含む）が対象となっています。

gTLDドメインを新規登録した時、移管した時、登録メールアドレス情報を変更した時、またはレジストリの任意の決定によってRegistrant Verificationメールが送信されます。このメールはランダムで送信されるため、上記のアクションを行った際に必ず送信されるものではありません。

この通知はICANNによって、Whois情報の正確性の確認を目的として定められているものです。

件名：【重要】登録者メールアドレス実在証明手続きのお願い- ACTION REQUIRED - Registrant Verification

※ メールの件名はドメインの種類によって変わることがあります。

例）Email verification required for ドメイン名

送信先：　ドメインの登録者

Registrant Verificationメールが届きましたら、15日以内にメール内リンクより、承認手続きを完了してください。15日を過ぎると、ドメインの名前解決ができなくなります。
